:root {
  scroll-behavior: smooth;
  display: grid;
  place-items: center;
  background-color: #303030;
  color: white;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin: 20px;
}

h1 {
  margin-bottom: 20px;
}

.channels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.channel {
  background-color: #202020;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s, border 0.3s;
}

.channel img {
  max-width: 100%;
  border-radius: 4px;
}

.channel p {
  margin: 10px 0 0;
  font-size: 14px;
}

.channel:hover {
  transform: scale(1.05);
  border: 2px solid white;
}
